{% extends 'base.html' %}
{% load bag_tools %}

{% block content%}
<div class="row justify-content-center">
    <div class="text-center my-5">
        <h3><strong>Shopping bag</strong></h3>
    </div>
    <div class="col-10 col-sm-6 col-md-3 p-0 mx-lg-2 mb-3">
        <div class="card">
            <div class="card-header"></div>
            {% if bag_items %}
            {% for item in bag_items %}
            <div class="card-body border-bottom border-warning">
                <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="me-3 w-100">
                <div class="text-center mt-2">
                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                    {% if item.size %}
                    <p>Size: {{ item.size }}</p>
                    {% endif %}
                    <form method="POST" action="{% url 'update_bag' item.product.id %}">
                        {% csrf_token %}
                        {% if item.size %}
                        <input type="hidden" name="size" value="{{ item.size }}">
                        {% endif %}
                        <input type="button" data-item-remove="item-remove" value="-">
                        <input class="item-quantity" name="quantity" type="number" value="{{ item.quantity }}" min="1"
                            max="99">
                        <input type="button" data-item-add="item-add" value="+">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button class="btn btn-warning ms-2" type="submit">Update</button>
                    </form>
                    <p>Price: {{ item.product.price }}</p>
                    <p>Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                    <form method="POST" action="{% url 'remove_from_bag' item.product.id %}" class="mt-2">
                        {% csrf_token %}
                        <input type="hidden" name="size" value="{{ item.size}}">
                        <input type="hidden" name="quantity" value="{{ item.quantity }}">
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        <button class="btn btn-warning" type="submit">Remove</button>
                    </form>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center my-5">No products in your bag yet!</p>
            {% endif %}
            <div class="card-footer"></div>
        </div>
    </div>
    <div class="col-10 col-sm-6 col-md-3 text-center p-0">
        <div class="card-header"></div>
        <div class="card-body">
            <h6><strong>Bag Total: €{{ total|floatformat:2 }}</strong></h6>
            {% if delivery != 0 %}
            <h6>Delivery: {{ delivery_display }}</h6>
            {% elif delivery_display == "Free Delivery" %}
            <h6>Delivery: <strong class="text-warning">{{ delivery_display }}</strong></h6>
            {% endif %}
            <h5 class="mt-4"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></h5>
            {% if free_delivery_delta > 0 %}
            <p class="text-warning">
                You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
            </p>
            {% endif %}
            
            
            <a href="{% url 'products' %}" class="btn btn-outline-black mt-3">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span class="font-weight-bold">Keep Shopping</span>
            </a>
            <a href="#" class="btn btn-warning mt-3">
                <span class="text-uppercase">Secure Checkout</span>
                <span class="icon">
                    <i class="fas fa-lock"></i>
                </span>
            </a>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{% include 'includes/quantity_input_script.html' %}
{% endblock %}