{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <img src="{% static 'images/girl-practicing-pilates.jpg'%}" alt="Girl Practicing Pilates" class="img-fluid">
    </div>
    <div class="col-11 col-sm-8 mt-4 mx-auto text-center">
         <h2>About Us!</h2>
         <p class="mt-4">
            Welcome to <strong>Pilates with Chris</strong>, your top choice for <strong>professional Pilates equipment</strong> online. 
            Our dedicated team, driven by a passion for fitness, is committed to providing the highest quality Pilates equipment to enhance your workout and help you achieve your fitness goals.
            In our exclusive <strong>member's only Boutique section</strong>, you'll discover professional-grade Pilates equipment designed for optimal performance. Experience the difference with Pilates with Chris,
            where we combine quality, performance, and passion to help you reach your fitness goals.
         </p>
    </div>
    {% include 'includes/newsletter.html' %}
{% endblock %}