{% extends "base.html" %}

{% block content %}
<div class="container align-items-center">
    <div class="row text-center mt-4">
        <h2 class="logo-font mb-4">Thank You <span class="text-warning">{{order.user.username}}</span>!</h2>
        <p class="text-black">Your order information is below. A confirmation email was sent to
            <strong>{{ order.user.email }}</strong>.</p>
    </div>
    <div class="col-lg-6 text-center mx-auto">
        <div class="card">
            <div class="card-header">
            </div>
            <h4 class="mt-2"><strong>Order Summary</strong></h4>
            <div class="card-body">
                <p><strong>Order number:</strong>{{order.order_number}}</p>
                <p><strong>Date:</strong>{{order.date}}</p>
                <hr>
                <h5 class="mb-4"><strong>Delivery details:</strong></h5>
                <p>First name: {{ order.user.first_name }}</p>
                <p>Last name: {{ order.user.last_name }}</p>
                <div>
                    {{ order.shipping_details_html|safe }}
                </div>
                <hr>
                <h5 class="mb-4"><strong>Products:</strong></h5>
                {% for item in order.orderitems.all %}
                <p>{{ item.quantity }} "{{ item.product.name }}" {% if item.size %} - Size {{ item.size }}{% endif %}
                    for €{{ item.product.price}} each</p>
                <hr class="col-4 mx-auto">
                {% endfor %}
                <hr>
                <h4><strong>Order total:</strong>€{{ order.grand_total}}</h4>
            </div>
            <div class="card-footer">
            </div>
        </div>
        {% if from_userprofile %}
        <div class="col-12 mx-auto">
            <a href="{% url 'userprofile' %}" class="btn btn-warning my-3">
                <span>Profile</span>
            </a>
        </div>
        {% else %}
        <div class="col-12 mx-auto">
            <a href="{% url 'home' %}" class="btn btn-warning my-3">
                <span>Home</span>
            </a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}