<div class="container-fluid border-bottom color">
    <form class="d-flex col-md-3 mx-auto my-2" method="GET" action="{% url 'products' %}">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>

    <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-black{% endif %}" href="{% url 'bag' %}">
        <div class="text-center">
            <div class="mt-3 mb-1"><i class="fa-solid fa-cart-shopping fa-2xl"></i></div>
            <p class="mb-3">
                {% if grand_total %}
                €{{ grand_total|floatformat:2 }}
                {% else %}
                €0.00
                {% endif %}
            </p>
        </div>
    </a>
</div>
<div class="container-fluid dropdown text-center color border border-dark">
    <a class="btn" href="" role="button" id="Filter" data-bs-toggle="dropdown" aria-expanded="false"><i
            class="fa-solid fa-filter"></i>
        Filter
    </a>
    <ul class="dropdown-menu" aria-labelledby="Filter">
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&order=asc">By Price</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&order=desc">By Rating</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
    </ul>
    <a class="btn" href="" role="button" id="clothing" data-bs-toggle="dropdown" aria-expanded="false">
        Clothing
    </a>
    <ul class="dropdown-menu" aria-labelledby="clothing">
        <li><a class="dropdown-item" href="{% url 'products' %}?category=Unisex">Unisex</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=Women">Women</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=Men">Men</a></li>
        <li><a class="dropdown-item" href="{% url 'products' %}?category=Unisex,Women,Men">All</a></li>
    </ul>
    <a class="btn" href="" role="button" id="equipment" data-bs-toggle="dropdown" aria-expanded="false">
        Equipment
    </a>
    <ul class="dropdown-menu" aria-labelledby="equipment">
        <li><a class="dropdown-item" href="{% url 'products' %}?category=ProfessionalEquipment">Professional</a></li>
    </ul>
    <a class="btn" href="" role="button" id="gear" data-bs-toggle="dropdown" aria-expanded="false">
        Gear
    </a>
    <ul class="dropdown-menu" aria-labelledby="gear">
        <li><a class="dropdown-item" href="{% url 'products' %}?category=Gear">All</a></li>
    </ul>
</div>