{% extends "base.html" %}

{% block content %}
{% include 'includes/page_header.html' %}
<div class="card container-fluid col-11 col-md-8 mt-5 p-0">
    <div class="card-header"></div>
    <div class="card-body mx-auto">
        <div class="row">
            <div class="col-md-6">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
            <div class="col-md-6">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                <a href="{% url 'products' %}?category={{ product.category_id.name }}">
                    <i class="fas fa-tag mr-1"></i>{{ product.category_id.name }}
                </a>
                <hr>
                <a href="{% url 'rate_product' product.id %}">Rate this product</a>
                {% if product.avg_rating %}
                <small><i class="fas fa-star ratings"></i><span
                        class="ms-2">{{ product.avg_rating|floatformat }}</span>/5</small>
                {% else  %}
                <small> Be the first to rate!</small>
                {% endif  %}
                <p class="mt-3">{{ product.description }}</p>
                {% if request.user.is_superuser %}
                <a class="btn btn-warning" href="#">Edit</a>
                <a class="btn btn-danger text-white" href="#">Delete</a>
                {% endif %}
                {% for inventory in product_inventory_size %}
                {% if inventory.id_size__size == None %}
                <p class="mt-2">Only {{ inventory.total }} items left in stock!</p>
                {% else %}
                <p class="mt-2">Only {{ inventory.total }} items in size {{ inventory.id_size__size }} left in stock!
                </p>
                {% endif %}
                {% endfor %}
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <p class="mt-3"><strong>Quantity:</strong></p>
                    <input type="button" data-item-remove="item-remove" value="-">
                    <input class="item-quantity" name="quantity" type="number" value="1"
                        min="1" max="99">
                    <input type="button" data-item-add="item-add" value="+">
                    {% if sizes %}
                    <select name="size">
                        {% for size in sizes %}
                        <option value="{{ size.size }}">{{ size.size }}</option>
                        {% endfor %}
                    </select>
                    {% endif %}
                    <input type="submit" class="btn btn-warning my-4" value="Add to Bag">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
                <a href="{% url 'products' %}">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase ">Keep Shopping</span>
                </a>
            </div>
        </div>
    </div>
    <div class="card-footer mt-3 mb-1"></div>
</div>
{% endblock %}
{% block postloadjs %}
{% include 'includes/quantity_input_script.html' %}
{% endblock %}


