{% extends "base.html" %}


{% block content %}
<div class="card col-lg-4 col-md-6 col-sm-12 mx-auto my-5 text-center">
    <div class="card-header"></div>
    <div class="card-body">
        <h2 class="logo-font mb-4">Product Management</h2>
        <h5 class="mb-4">Update a Product</h5>
        <form method="POST" action="{% url 'update_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            {{ inventory_form | crispy }}
            <div class="text-right">
                <a class="btn btn-danger text-white" href="{% url 'products' %}">Cancel</a>
                <button class="btn btn-warning" type="submit">Update Product</button>
            </div>
        </form>
    </div>
    <div class="card-footer"></div>
</div>
{% endblock %}